@import "variables";

.home {
  display: flex;
  flex-direction: column;
  border-radius: 30px 30px 0 0;
  background-color: $background;
  min-height: calc(100vh - 80px);
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;

  .presentation-container {
    flex: 1;
    box-sizing: border-box;
    padding: 70px;
    gap: 35px;
    display: flex;

    .presentation-infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;

      .highlight-text {
        letter-spacing: 0.1rem;
        max-width: 900px;
        line-height: 1.1;
        font-weight: 500;
        font-size: $font-size-large;
      }

      .order-button {
        color: $background;
        background-color: $accent;
        border-radius: 15px;
        height: auto;
        padding: 20px 15px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 50%;

        mat-icon {
          margin: 0;
          color: $warn;
        }
      }

      .metrics {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        div {
          p {
            &:first-child {
              font-size: $font-size-medium;
            }
            &:last-child {
              font-size: $font-size-small;
              font-weight: 300;
              font-family: "Red Hat Display", sans-serif;
            }
          }
        }
      }
    }

    .circle-background {
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("/assets/imgs/circle.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      img {
        width: 100%;
      }
    }
  }
  .cards-container {
    box-sizing: border-box;
    padding: 0 70px 35px;
    flex-grow: 1;

    display: flex;
    gap: 20px;
    height: auto;
    flex-wrap: wrap;

    .card {
      gap: 10px;
      min-width: 150px;
      box-sizing: border-box;
      flex: 1;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: rgba($primary, 0.3);
      padding: 20px;

      .card-image-background {
        background-color: #fff;
        padding: 10px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        img {
          width: 100%;
        }
      }

      p {
        font-size: $font-size-small;
        color: $background-foreground;
        &:last-child {
          font-weight: 300;
          font-family: "Red Hat Display", sans-serif;
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .home {
    .presentation-container {
      padding: 35px;
    }
    .cards-container {
      padding: 0 35px 35px;
    }
  }
}

@media (max-width: 900px) {
  .home {
    .presentation-container {
      .presentation-infos {
        flex: 1;
        .highlight-text {
          font-size: $font-size-medium;
        }
      }
    }
    .cards-container {
      padding: 0 35px 35px;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .presentation-container {
      flex-direction: column-reverse;
      .circle-background {
        height: 300px;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
    .cards-container {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .home {
    .presentation-container {
      .presentation-infos {
        .highlight-text {
          font-size: 1.8rem;
        }
        .metrics {
          div {
            p {
              &:first-child {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}
