@import "variables";

.toolbar {
  background-color: transparent;
  padding: 40px 0;

  .logo {
    color: $warn;
    font-size: 1.5rem;
  }
}

@media (max-width: 1140px) {
  .toolbar {
    .logo {
      padding: 0 35px;
    }
  }
}
