$background: #fafaed;
$background-foreground: #333333;

$primary: #f05148;
$primary-foreground: #fafaed;

$accent: #1820ef;
$accent-foreground: #fff;

$warn: #ffc024;
$warn-foreground: #333333;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;

