<main>
  <app-toolbar />
  <div class="background"></div>
  <section class="home">
    <div class="presentation-container">
      <div class="presentation-infos">
        <p>
          <span class="warn-color">Enjoy</span> a good ramen in the comfort of your house. <span class="warn-color">Create</span> your own ramen and <span class="warn-color">choose</span> your favorite flavour combination!
        </p>
        <button color="accent" mat-flat-button>
          <span>Order now</span>
          <mat-icon>chevron_right</mat-icon>
        </button>
        <div class="metrics">
          <div>
            <p>100+</p>
            <p>Order per minute</p>
          </div>
          <div>
            <p>10x</p>
            <p>Faster delivery</p>
          </div>
          <div>
            <p>8</p>
            <p>In Country</p>
          </div>
          <div>
            <p>99.9%</p>
            <p>Order accuracy</p>
          </div>
        </div>
      </div>
      <div class="circle-background">
        <img src="/assets/imgs/person.png" alt="Person Avatar">
      </div>
    </div>
    <div class="cards-container">
      <div class="card">
        <div class="card-image-background">
          <img src="/assets/imgs/noodle.svg" alt="Noodle Icon">
        </div>
        <p>Create Your Customized Dish</p>
        <p>Bring your own ramen to life! Choose from a variety of broths and proteins to craft a dish that suits your unique palate.</p>
      </div>
      <div class="card">
        <div class="card-image-background">
          <img src="/assets/imgs/soup.svg" alt="Soup Icon">
        </div>
        <p>Choose Your Broth</p>
        <p>Discover a variety of delicious broths, from traditional to innovative options, perfect for your next comforting meal.</p>
      </div>
      <div class="card">
        <div class="card-image-background">
          <img src="/assets/imgs/bowl.svg" alt="Bowl Icon">
        </div>
        <p>Add Flavor to Your Meal</p>
        <p>Customize your ramen with a variety of fresh and flavorful proteins. Choose from chicken, pork and more to make your dish truly unique.</p>
      </div>
      <div class="card">
        <div class="card-image-background">
          <img src="/assets/imgs/chef-hat.svg" alt="Chef Hat Icon">
        </div>
        <p>Make it Your Way</p>
        <p>On our site, creativity reigns! Mix and match various broths and proteins to concoct a personalized ramen experience that's uniquely yours.</p>
      </div>
    </div>
  </section>
</main>
