@import "variables";

main {
  max-width: 1140px;
  margin: 0 auto;

  .background {
    max-width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 30dvh;
    background-image: url("/assets/imgs/blue-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container {
    position: relative;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100dvh - 80px);

    .order {
      padding: 0 35px 35px 35px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      .description {
        font-size: $font-size-medium;
        color: $accent;
        text-align: center;
      }
      .image {
        width: 300px;
        height: calc(30dvh + 80px);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .id {
        font-size: $font-size-small;
        color: $primary;
      }
    }

    .grateful-container {
      padding: 0 35px 35px 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      p {
        font-weight: bold;
        font-size: $font-size-small;
        color: $primary;
      }

      .order-button {
        color: $background;
        background-color: $accent;
        border-radius: 15px;
        height: auto;
        padding: 20px 15px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 50%;

        mat-icon {
          margin: 0;
          color: $warn;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  main {
    .container {
      .grateful-container {
        .order-button {
          width: 100%;
        }
      }
    }
  }
}
